[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atproto = "*"
flask = "*"
python-dotenv = "*"
pandas = "<2.2.2"
pyarrow = "*"
fasttext = "*"
scikit-learn = "*"
sentence-transformers = "*"
faiss-cpu = "*"
nltk = "*"
flask-migrate = "*"
pytest = "*"
emoji = "*"
psycopg2-binary = "*"
flask-compress = "*"
flask-caching = "*"
flask-admin = {extras = ["sqlalchemy"], version = "*"}
pyjwt = "*"
nanoid = "*"

[dev-packages]

[requires]
python_version = "3.10"
