[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atproto = "*"
flask = "*"
peewee = "*"
python-dotenv = "*"
pandas = "<2.2.2"
pyarrow = "*"
fasttext = "*"
scikit-learn = "*"
sentence-transformers = "*"
faiss-cpu = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.10"
